{% extends "base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Dashboard" %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">
                {% trans "Welcome to text_reader."%}
            </h1>
            <p class="text-center">
                {% trans "A django project to read text from image files."%}
            </p>
            
            {% if not user.is_authenticated %}
                <p><a href="{% url 'login' %}">{% trans "Please Login" %}</a>.</p>
            {% else %}
                <p><a href="{% url 'logout' %}">{% trans "Logout" %}</a>.</p>
            {% endif %}

            {% if user.is_staff %}
                <p><a href="{% url 'admin:index' %}">{% trans "Go to django Admin" %}</a>.</p>
            {% endif %}
            
        </div>
    </div>

{% endblock %}

