{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Password reset confirm" %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            {% if validlink %}
                <h1 class="page-header text-center">
                    {% trans "Change your password" %}
                </h1>

                <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">{% trans "Change password" %}</button>
                {% endbuttons %}
            </form>
            {% else %}
                <h1 class="page-header text-center">
                    {% trans "Password reset unsuccessful" %}
                </h1>
                <p>
                    {% blocktrans %}
                        The password reset link is invalid. Please request a new password reset.
                    {% endblocktrans %}
                </p>
            {% endif %}

            <p><a href="{% url 'login' %}">{% trans "Please Login" %}</a>.</p>
            <p><a href="{% url 'password_reset' %}">{% trans "Lost password?" %}</a></p>
        </div>
    </div>

{% endblock %}

