{% extends "base.html" %}

{% load i18n %}
{% load static %}
{% load bootstrap4 %}

{% block head_title %}{% trans "Password reset form" %}{% endblock %}

{% block extra_head %}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">
                {% trans "Password reset" %}
            </h1>

            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">{% trans "Reset password" %}</button>
                {% endbuttons %}
            </form>

            <p><a href="{% url 'login' %}">{% trans "Please Login" %}</a>.</p>

        </div>
    </div>

{% endblock %}

