.logo {
    height: 85px;
}

.btn-primary {
    background: #ffffff;
    color: #ddcb46;
    border: 1px solid #ddcb46;
    text-align: center;
    border-radius: 8px;
}

.btn-primary:hover {
    background: #ddcb46;
    color: #ffffff;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-top: 15px;
    background-color: #ddcb46;
    color: white;
    text-align: center;
}
